
/* 表单 >>>>>> */
.jh-input-label {
  color: var(--gray-800);
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
}
.jh-input-label-group {
  color: var(--cPrimaryColor);
  padding-left: 10px;
  font-size: 1rem !important;
  line-height: 1.75rem;
  letter-spacing: 0.009375em !important;
  font-family: Roboto, sans-serif !important;
  font-weight: 500 !important;
  position: relative;
  display: flex;
  align-items: center;
}
.jh-input-label-group::before {
  content: "";
  background-color: var(--cPrimaryColor);
  position: absolute;
  height: calc(100% - 12px); /* 高度为父元素高度减去3px */
  width: 4px;
  bottom: 6px;
  left: 0;
}
.jh-no-data {
  text-align: center;
  max-width: calc(100vw - 64px);
}

.jh-v-input .v-input__slot {
  margin: 0 !important;
}
.jh-v-input.bg-white .v-input__slot {
  background-color: #fff !important;
}
.jh-v-input .v-messages-outer,
.jh-v-input .v-text-field__details {
  position: absolute !important;
  bottom: -23px !important;
  left: -10px !important;
}
.jh-v-input .v-input__append-outer {
  margin-top: 0 !important;
}
.jh-v-input .v-input__icon--append button {
  font-size: 18px;
}
/* <<<<< 表单 */

/* header 菜单 >>>>>> */
.jh-page-header {
  border-bottom: 1px solid #e6e6e6 !important;
}
.jh-header-tab {
  border-radius: 5px;
  margin: 8px 0;
  text-transform: none;
  font-weight: 400;
}
.jh-header-tab-active {
  background: #f6f6f6;
  font-weight: 500;
}

.jh-header-tab::before {
  border-radius: 5px !important;
}

.jh-header-tab:hover::before {
  border-radius: 5px !important;
  opacity: 0.1 !important;
}
/* <<<<< header 菜单 */

/* tab >>>>>> */
.custom-tabs .v-tabs-bar {
  height: 32px;
}
.custom-tabs.v-tabs .v-tab:before,
.custom-tabs.v-tabs .v-tab--active:before {
  display: none;
}
.custom-tabs .v-tab {
  min-width: auto;
  padding: 0px;
  margin-right: 30px;
  font-size: 13px !important;
}
/* <<<<< tab */

/* 字体 >>>>>> */
.jh-font-size-10 {
  font-size: 10px;
}
.jh-font-size-12,
.jh-font-size-2 {
  font-size: 12px;
}
.jh-font-size-13,
.jh-font-size-3 {
  font-size: 13px;
}
/* <<<<< 字体 */

/* dialog >>>>>> */
.jh-fixed-dialog-height {
  min-height: 60%;
  max-height: 80%;
  background-color: #fff;
}
/* <<<<< dialog */

/* 抽屉关闭按钮 */
.drawer-close-float-btn {
  top: 120px !important;
  left: -40px !important;
}
/* 文档 */
.jh-page-doc-container {
  height: calc(100vh - 130px);
}
/* 帮助icon */
.mdi-help-circle-outline {
  transform: translateY(-1.5px) scale(1.1);
}
/* 分割线 */
.jh-divider {
  border-color: rgba(0, 0, 0, 0.06) !important;
}
/* 抽屉 */
body .v-navigation-drawer.jh-drawer-level-2 {
  z-index: 102 !important;
}
.cursor-pointer {
  cursor: pointer;
}

.flex-1 {
  flex: 1;
}

/* 边框 */
.jh-border {
  border: 1px solid #eee;
}
.jh-border-b {
  border-bottom: 1px solid #eee;
}
.jh-border-t {
  border-top: 1px solid #eee;
}
.jh-border-r {
  border-right: 1px solid #eee;
}
.jh-border-l {
  border-left: 1px solid #eee;
}

.jh-page-second-bar span[role="button"] {
  min-width: 40px;
}

/* 移动端table、搜索栏 */
.v-data-table.v-data-table--mobile
  > .v-data-table__wrapper
  > table
  > tbody
  > tr
  > td:first-child,
.v-data-table.v-data-table--mobile
  > .v-data-table__wrapper
  > table
  > tfoot
  > tr
  > td:first-child,
.v-data-table.v-data-table--mobile
  > .v-data-table__wrapper
  > table
  > thead
  > tr
  > th:first-child {
  padding-left: 15px !important;
}
@media (max-width: 600px) {
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    padding: 0 15px !important;
  }
}
.v-data-table .v-data-table__mobile-table-row {
  border-bottom: 5px solid rgb(243 244 246 / var(--tw-bg-opacity));
}
.v-data-table .v-data-table__mobile-table-row:last-child {
  border-bottom: none;
}
.v-data-table-header.v-data-table-header-mobile {
  display: none;
}

.jh-mobile-search-bar .v-menu__content {
  background-color: rgba(0, 0, 0, 0.3);
  height: calc(100vh - 88px);
  box-shadow: none;
  border-radius: 0;
}
.jh-safe-bottom {
  padding-bottom: 0;
  padding-bottom: calc(constant(safe-area-inset-bottom) / 5 * 3);
  padding-bottom: calc(env(safe-area-inset-bottom) / 5 * 3);
}

/* 场景搜索 v-btn-toggle >>>>>> */
.jh-scene-toggle.v-btn-toggle .v-btn.v-btn {
  background-color: #fff !important;
}
.jh-scene-toggle.v-btn-toggle .v-btn.v-btn:not(:last-child) {
  border-right-color: #fff !important;
}
.jh-scene-toggle.v-btn-toggle .v-btn.v-btn.v-btn--active {
  border-color: var(--cPrimaryColor) !important;
  color: var(--cPrimaryColor) !important;
  background-color: #fff !important;
  border-right-color: var(--cPrimaryColor) !important;
}
/* <<<<< 场景搜索 v-btn-toggle */

/* 状态样式 >>>>>> */
.jh-status-tag-success,
.jh-status-tag-primary,
.jh-status-tag-green {
  background-color: #59cb74 !important;
  border-color: #59cb74 !important;
  color: #ffffff !important;
  caret-color: #ffffff !important;
}
.jh-status-tag-error,
.jh-status-tag-red {
  background-color: #f4667c !important;
  border-color: #f4667c !important;
  color: #ffffff !important;
  caret-color: #ffffff !important;
}
.jh-status-tag-default,
.jh-status-tag-grey {
  background-color: #c2c2c2 !important;
  border-color: #c2c2c2 !important;
  color: #ffffff !important;
  caret-color: #ffffff !important;
}
.jh-status-tag-info,
.jh-status-tag-blue {
  background-color: #4fcccb !important;
  border-color: #4fcccb !important;
  color: #ffffff !important;
  caret-color: #ffffff !important;
}
.jh-status-tag-warning,
.jh-status-tag-orange {
  background-color: #fbd44b !important;
  border-color: #fbd44b !important;
  color: #ffffff !important;
  caret-color: #ffffff !important;
}
.jh-status-tag-indigo {
  background-color: #c5cae9 !important;
  border-color: #c5cae9 !important;
  color: #303f9f !important;
  caret-color: #303f9f !important;
}
.jh-status-tag-teal {
  background-color: #b2dfdb !important;
  border-color: #b2dfdb !important;
  color: #00796b !important;
  caret-color: #00796b !important;
}
.jh-status-tag-brown {
  background-color: #d7ccc8 !important;
  border-color: #d7ccc8 !important;
  color: #5d4037 !important;
  caret-color: #5d4037 !important;
}
.jh-status-tag-pink {
  background-color: #f8bbd0 !important;
  border-color: #f8bbd0 !important;
  color: #c2185b !important;
  caret-color: #c2185b !important;
}
.jh-status-tag-purple {
  background-color: #e1bee7 !important;
  border-color: #e1bee7 !important;
  color: #7b1fa2 !important;
  caret-color: #7b1fa2 !important;
}

.jh-safe-bottom-1 {
  padding-bottom: max(
    0.25rem,
    env(safe-area-inset-bottom)
  ) !important; /* Tailwind pb-1 */
}
.jh-safe-bottom-2 {
  padding-bottom: max(
    0.5rem,
    env(safe-area-inset-bottom)
  ) !important; /* Tailwind pb-2 */
}
.jh-safe-bottom-3 {
  padding-bottom: max(
    0.75rem,
    env(safe-area-inset-bottom)
  ) !important; /* Tailwind pb-3 */
}
.jh-safe-bottom-4 {
  padding-bottom: max(
    1rem,
    env(safe-area-inset-bottom)
  ) !important; /* Tailwind pb-4 */
}
.jh-safe-bottom-5 {
  padding-bottom: max(
    1.25rem,
    env(safe-area-inset-bottom)
  ) !important; /* Tailwind pb-5 */
}
.jh-safe-bottom-6 {
  padding-bottom: max(
    1.5rem,
    env(safe-area-inset-bottom)
  ) !important; /* Tailwind pb-6 */
}
/* <<<<< 状态样式 */

.jh-form .v-input--selection-controls {
  margin-top: 0;
}

.jh-field-input>.jh-v-input .v-input__slot {
  border: 1px solid #DFDFDF!important;
}